:root {
    --main-color: #15202b;
    --main-hover-color: #16242f;
    --main-li-hover-color: rgba(29, 161, 242, 0.1);
    --button-color: rgb(29, 161, 242);
    --border-color: rgb(56, 68, 77);
    --gray-main-color: rgb(138, 125, 125);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

body {
    background-color: var(--main-color);
}

/* GLOBAL CONTENT */
#content {
    display: flex;
    flex-flow: row wrap;
}

.lightgrey {
    color: rgb(146, 145, 145)
}

/* HEADER */
#header {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    flex-grow: 2;
    padding-right: 15px;
}

#header #logo {
    width: 50px;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    margin: 15px;
    padding: 10px;
}

#menu ul li:hover {
    border-radius: 3em;
    background-color: var(--main-li-hover-color);
    cursor: pointer;
}

#menu ul li i {
    width: 50px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 800;
}

#menu ul li:hover a {
    color: dodgerblue;
    transition: all 300ms;
}

.btn-tweet {
    height: 50px;
    width: 218px;
    border-radius: 3em;
    background-color: var(--button-color);
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.btn-tweet:focus {
    outline: none;
}

.hidden {
    display: none;
}

.hidden:focus {
    outline: none;
}

.btn-tweet:hover {
    transition: all 300ms;
    cursor: pointer;
    background-color: rgb(18, 87, 214);
    box-shadow: 1px 1px 3px rgb(11, 34, 78);
}

/* CENTRAL */
#container {
    flex-grow: 1;
    flex-flow: row wrap;
    flex-basis: 450px;

    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    min-height: 1200px;
}

#container .inicio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    position: relative;
    height: 50px;
    border-bottom: 1px solid var(--border-color)
}

#container .inicio:hover {
    cursor: pointer;
}

#container .inicio p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 20px;
}

#container #star-image {
    width: 50px;
    margin-right: 25px;
}

/* TWEET CLIENT */
#tweet-client {
    height: 120px;
}

#write-tweet {
    background-color: var(--main-color);
    border: none;
    outline: none;
    color: white;
    width: 472px;
    font-size: 20px;
    resize: none;
    margin-left: 10px;
}

.self-img {
    border-radius: 100%;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
}

#tweet-options .btn-tweet {
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-right: 20px;
}

#tweet-options .btn-tweet:disabled {
    opacity: 0.4;
    cursor: default;
}

#tweet-area {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 10px;
}

#tweet-options {
    display: flex;
    justify-content: space-between;
}

#tweet-options ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: 74px;
}

#tweet-options ul li {
    color: white;
    font-size: 20px;
    color: var(--button-color);
    list-style: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3em;
}

#tweet-options ul li:hover {
    transition: all 100ms;
    cursor: pointer;
    background-color: rgba(29, 161, 242, 0.15);
}

#tweet-options span {
    margin-top: 10px;
    font-weight: 700;
}

#tweet-options button {
    margin-right: 25px;
}

/* ARTICLE */
.tweet {
    border: 1px solid var(--border-color);
    color: white;
    padding-left: 16px;
    padding-top: 7px;
}

.tweet:hover {
    background-color: var(--main-hover-color);
    cursor: pointer;
}

.tweet .profile {
    display: flex;
}

.tweet img {
    flex-grow: 1;
}

.tweet img:hover {
    cursor: pointer;
}

.tweet .user-name,
.tweet .subtext {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.tweet .tweetted {
    color: white;
    margin-left: 61px;
    margin-right: 20px;
    margin-top: -17px;
}

.tweet ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tweet ul li {
    list-style: none;
}

.tweet i {
    color: rgb(146, 145, 145);
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.tweet i:hover {
    background-color: var(--main-li-hover-color);
    border-radius: 2em;
}

.tweet .fa-comment:hover,
.tweet .fa-upload:hover {
    color: var(--button-color);
}

.tweet .fa-retweet:hover {
    color: rgb(79, 221, 79);
    background-color: rgba(8, 124, 8, 0.50);
}

.tweet .fa-heart:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.20);
}

.profile span:last-child  {
    margin-left: auto;
}

.profile .subtext {
    color: var(--gray-main-color);
    font-weight: normal;
}

.tweet .fa-times {
    color: red;
    opacity: 0.6;
}

.tweet .fa-times:hover {
    color: red;
    opacity: 1;
}

/* ASIDE */
#aside {
    flex-grow: 2;
    padding-left: 25px;
    margin-top: 20px;
}

#aside input {
    width: 250px;
    height: 43px;
    border-radius: 3em;
    background-color: #1c2d3d;
    color: white;
    font-size: 15px;
    border: none;
    padding-left: 40px;
}

#aside input:focus {
    outline: none !important;
    box-shadow: 0px 0px 10px var(--button-color);
}

#aside input::placeholder {
    color: white;
    opacity: 1;
}

#aside #search-icon {
    position: absolute;
    color: white;
    margin-left: 12px;
    margin-top: 15px;
}

/* TRENDING TT */
#trending-topic {
    height: auto;
    color: white;
    font-size: 14px;
    width: 280px;
    border: 1px solid var(--border-color);
    background-color: var(--main-hover-color);
    border-radius: 1em;
    margin-top: 20px;
}

#trending-topic #trending-title {
    font-size: 13px;
    font-weight: 900;
    padding: 10px;
    border: 1px solid rgb(58, 57, 57);
    border-top: none;
    border-left: none;
    border-right: none;
}

#trending-topic #trending-title h2::after {
    font-family: "FontAwesome";
    font-size: 18px;
    margin-left: 40px;
    content: "\f013";
    color: dodgerblue;
}

#trending-tt {
    display: flexbox;
    flex-flow: row wrap;
}

.card-tt {
    padding: 10px;
    border-bottom: 1px solid rgb(58, 57, 57);
}

.card-tt > * {
    margin: 3px;
}

.card-tt p:nth-child(1),
.card-tt p:nth-child(3) {
    color: rgb(138, 125, 125);
}

.card-tt p:nth-child(2) {
    font-weight: bolder;
}

.card-tt:last-child {
    border-bottom: none;
}

.card-tt:hover {
    cursor: pointer;
    background-color:#1b3041;
    box-shadow: inset;
    transition: all 300ms;
}

/* FIN ASIDE */

/* FOOTER */
#footer {
    display: inline-block;
}

#footer ul {
    display: flex;
    flex-flow: row wrap;
    width: 280px;
    list-style: none;
}

#footer ul li a {
    color: rgb(138, 125, 125);
    text-decoration: none;
    margin: 10px;
}

#footer ul li a:hover {
    border-bottom: 1px solid #ccc;
    color: #ccc;
}

/* BUTTON SCROLL */
#scroll-top {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
    position: fixed;
    margin-left: 95%;
    margin-top: 50%;
    opacity: 0.8;
}

#scroll-top #scroll-button {
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgb(58, 57, 57);
    border-radius: 0.5em;
    border: none;
    font-size: 20px;
    color: rgba(238, 229, 229, 0.863);
    z-index: 99;
}

#scroll-top #scroll-button:hover {
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
    box-shadow: 0px 0px 15px var(--button-color);
    opacity: 1;
}

#scroll-top #scroll-button:focus {
    outline: none;
}



@media only screen and (min-width: 2550px) {

    #scroll-top {
        margin-top: 45%;
    }
}

@media only screen and (max-width: 1550px) {

    #write-tweet {
        width: 380px;
    }
}

@media only screen and (max-width: 1500px) {

    #scroll-top {
        margin-top: 60%;
    }
}

@media only screen and (max-width: 1200px) {

    #scroll-top {
        margin-top: 70%;
    }
}

@media only screen and (max-width: 1100px) {

    #scroll-top {
        display: none;
    }
}

@media only screen and (max-width: 1075px) {

    #header {
        align-items: center;
        flex-grow: 1;
        padding-right: 0px;
    }

    .menu-link > span {
        display: none;
    }

    #menu ul li {
        text-align: center;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    #menu ul li i {
        width: 35px;
    }

    #twittear {
        width: 60px;
        height: 60px;
    }

    #header .btn-tweet {
        display: none;
    }

    .hidden {
        display: block;
        margin-left: 17px;
    }

    #aside {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    #header {
        flex-grow: 0.1;
    }
}

@media only screen and (max-width: 640px) {
    
    #tweet-client {
        display: none;
    }

    #header {
        order: 1;
        width: 100%;
    }

    #menu {
        width: 100%;
        border-top: 1px solid var(--border-color);
    }

    #menu ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100% !important;
        padding: 15px;
    }

    #menu ul li {
        flex-grow: 1;
        margin: 0px;
        padding: 0px;
    }

    #menu ul li:nth-child(5),
    #menu ul li:nth-child(6),
    #menu ul li:nth-child(7),
    #menu ul li:nth-child(8),
    #menu ul li:nth-child(9),
    .btn-tweet {
        display: none;
    }

    .section {
        width: 100%;
        order: 0;
    }
}
